.clearfloat {
    *zoom: 1;
}

.clearfloat:before, .clearfloat:after {
    content: "";
    display: table;
    line-height: 0;
    visibility: hidden;
}

.clearfloat:after {
    clear: both;
}

input {
    outline: none;
    border: 1px solid rgba(153, 153, 153, 1);
}

.red-font {
    color: #6A1D21;
    font-weight: bold;
    font-size: 22px;
}

.small-red-font {
    color: #6A1D21;
    font-size: 10px;
}

.black-font {
    color: #333;
    font-size: 20px;
}

.bw-red-font {
    font-size: 16px;
    color: #fff;
}

.bw-black-font {
    font-size: 12px;
    color: #fff;
    line-height: 24px;
}


/* 内容区域显示 */

.wrap-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    text-align: center;
    font-weight: 400;
    line-height: 35px;
}

.big-title {
    color: #932026;
    font-size: 22px;
    font-weight: bold;
}

.small-title {
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
}

.red-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px 0;
    font-size: 18px;
    line-height: 35px;
    color: #932026;
    text-align: center;
    text-indent: 2em;
}

.black-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 35px;
    color: #333;
    text-align: center;
    text-indent: 2em;
}

.left-font {
    text-align: left;
}

.small-black-font {
    font-size: 12px;
    color: #333333;
    line-height: 24px;
}


/*菜单*/

.el-menu-item {
    transition: none;
}

.el-menu--horizontal > .el-submenu .el-submenu__title {
    border: none;
}

.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    background-color: #932026;
    color: white;
}

.el-menu--horizontal > .el-submenu .el-submenu__title {
    color: white;
}

.el-menu-demo > .el-submenu > .el-submenu__title i {
    display: none;
}

.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    color: white;
}

.el-menu--horizontal > .el-submenu .el-submenu__title {
    height: 93px;
    line-height: 93px;
    padding: 15px;
    box-sizing: border-box;
}

.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    border: none;
}

.el-menu--popup {
    min-width: 160px;
}

/* 输入框 */
.el-input__inner {
    border: none !important;
}

/* 分页器按钮颜色 */

/*带背景的分页按钮背景色begin*/
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background: rgba(180, 82, 87, 1);
    color: #FFF;
}

.el-pagination.is-background .el-pager li.active {
    color: #fff;
    cursor: default;
}

.el-pagination.is-background .el-pager li:hover {
    color: rgba(180, 82, 87, 1);
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: rgba(180, 82, 87, 1);;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    background-color: rgba(180, 82, 87, 1);
    color: #FFF;
}

/*带背景的分页按钮背景色end*/

/*不带背景的分页按钮背景色begin*/
.el-pager li.active {
    color: rgba(180, 82, 87, 1);
    cursor: default;
}

.el-pagination .el-pager li:hover {
    color: rgba(180, 82, 87, 1);
}

.el-pagination .el-pager li:not(.disabled):hover {
    color: rgba(180, 82, 87, 1);
}

ul, li {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

/* tab 切换 */
.el-tabs__item {
    color: #6A1D21;
}

.el-tabs__item:hover {
    color: #932026;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.el-tabs--left .el-tabs__item.is-left {
    border: 1px solid rgba(221, 221, 221, 1);
    font-size: 16px;
    text-align: left;
    height: 72px;
    transform: none;
}

.el-tabs__content {
    border: 1px solid rgba(221, 221, 221, 1);
    padding: 5px;
    box-sizing: border-box;
}

.el-tabs--left .el-tabs__active-bar.is-left, .el-tabs--left .el-tabs__active-bar.is-right,
.el-tabs--right .el-tabs__active-bar.is-left, .el-tabs--right .el-tabs__active-bar.is-right {
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
}

.el-tabs__nav-wrap::after {
    /*content: ""; *!
/* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
    /* width: 100%; */
    /* height: 2px; */
    /* background-color: #E4E7ED; */
    /* z-index: 1;*/
    background-color: #ffffff;
    height: 0;
}

.el-tabs__item.is-active {
    background-color: #932026;
}

.el-tabs__active-bar {
    transition: none;
}

.el-tabs__active-bar {
    background-color: #fff;
}

/* 路由样式 */
.router-link-exact-active {
    background-color: #fff;
}

.el-pagination__sizes .el-input__inner {
    width: 114px;
    background-color: #B45257;
    color: #fff;
    padding: 10px;
}

.el-pagination .el-select .el-input .el-input__inner {
    padding-left: 0;
    padding-right: 0;
}

.el-pagination__editor {
}

.center-title {
    margin: 0 20px;
}

.bg-container {
    width: 100%;
    height: 706px;
    margin-bottom: 85px;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    background-position: center 0 !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
